In [1]:
import pandas as pd
lb = '12dpi_tgac'
#lb = '21dpi_iwgsc'

In [4]:
srna_file = 'data/' + lb + '/ShortStack_D.gff3'
df = pd.read_csv(srna_file,sep="\t",header=None)
df.columns = ['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'attribute']

results_file = 'data/' + lb + '/Results.txt'
df_res = pd.read_csv(results_file,sep="\t")
df_res = df_res[df_res.MajorRNA.str.len().isin([20, 21,22])]
print('Res len:',len(df_res.index))

print('Total: ',len(df.index))
df['cluster'] = df.attribute.str.split(';').str.get(0)
df['cluster'] = df.cluster.str.split('=').str.get(1)

counts_file = 'data/' + lb + '/counts.clean.txt'
df_counts = pd.read_csv(counts_file,sep="\t")

df_valid = df_counts[df_counts.Name.isin(df.cluster)]
print('Total valid:', len(df_valid.index))

Res len: 3514
Total:  33804
Total valid: 33804

In [5]:
f = open(results_file,'r')
count = 0
for line in f:
    line = line.split('\t')
    if len(line[8]) in [20,21,22]:
        count += 1
print(count)

3514

In [6]:
df_valid.to_csv('data/' + lb + '/valid_counts.csv',sep='\t',index=False)

In [7]:
df_valid.head(2)

,Locus,Name,main,12dpiR1C.trimmed,12dpiR1T.trimmed,12dpiR3C.trimmed,12dpiR3T.trimmed
49,TGACv1_scaffold_576745_7BL:247597-247903,Cluster_50,123,34,27,34,28
50,TGACv1_scaffold_327816_4BS:432204-432538,Cluster_51,101,22,14,32,33