In [67]:
import pandas as pd
data_dir = 'data'
lb = '21dpi_iwgsc_bowtie_m_all_2'
blast_out = data_dir + '/res/' + lb + '/degs_mirbase.blast.csv'

In [62]:
deg_file = data_dir + '/res/' + lb + '/deg_data.csv'
df_deg = pd.read_csv(deg_file,sep="\t")
print('Res len:',len(df_deg.index))

('Res len:', 39)

In [73]:

!blastn -task blastn -query data/res/21dpi_iwgsc_bowtie_m_all_2/degs.fasta  -subject data/libs/mature.fa -outfmt "6 qseqid sseqid qstart qend sstart send score length mismatch gaps gapopen nident pident qlen slen qcovs" > data/res/21dpi_iwgsc_bowtie_m_all_2/degs_mirbase.blast.csv

In [74]:
df_blast = pd.read_csv(blast_out,sep="\t", header=None)
df_blast.columns = ['qseqid','sseqid','qstart','qend','sstart','send','score','length','mismatch','gaps','gapopen','nident','pident','qlen','slen','qcovs']
print('initial:',len(df_blast.index))

('initial:', 110)

In [75]:
df_blast.head()

,qseqid,sseqid,qstart,qend,sstart,send,score,length,mismatch,gaps,gapopen,nident,pident,qlen,slen,qcovs
0,Cluster_3799,cfa-miR-8791b,5,16,12,1,24,12,0,0,0,12,100.0,21,25,57
1,Cluster_3799,hpo-miR-43b-3p,4,14,23,13,22,11,0,0,0,11,100.0,21,23,52
2,Cluster_3799,aca-miR-34b-3p,8,18,4,14,22,11,0,0,0,11,100.0,21,22,52
3,Cluster_4453,oni-miR-10645,5,15,20,10,22,11,0,0,0,11,100.0,21,22,52
4,Cluster_4453,eun-miR10221-5p,2,12,19,9,22,11,0,0,0,11,100.0,21,21,52

In [76]:
df_blast = df_blast[df_blast.length >= df_blast.qlen - 4]
print('len -2:',len(df_blast.index))

('len -2:', 7)

In [77]:
df_res = pd.merge(df_deg, df_blast[['qseqid','sseqid']], left_on='Name', right_on='qseqid', how='left')

In [78]:
df_res.to_csv(data_dir + '/res/' + lb + '/deg_data.mirbase.csv', sep='\t', index=None)

In [79]:
len(set(df_res['#Locus'].tolist()))

39