In [155]:
!blastn -task blastn -query data/res/sRNA_DEG.fasta  -subject data/data/miRNAs/mature.fa -outfmt "6 qseqid sseqid qstart qend sstart send score length mismatch gaps gapopen nident pident qlen slen qcovs" > data/res/sRNA_DEG_mirbase.blast.csv

In [1]:
import pandas as pd
import numpy as np
data_dir = 'data'
lb = 'iwgsc_4_2_19'
blast_out = data_dir + '/res/' + lb + '/degs_mirbase.blast.csv'

In [2]:
deg_file = data_dir + '/res/' + lb + '/deg_data.csv'
df_deg = pd.read_csv(deg_file,sep="\t")
#df_deg.loc[pd.isnull(df_deg['MajorRNA']), 'MajorRNA'] = df_deg['Gene']
print('Res len:',len(df_deg.index))
df_deg.head(3)

Res len: 15187

,Gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,X21dpiR1C.trimmed,X21dpiR3C.trimmed,X21dpiR1T.trimmed,X21dpiR3T.trimmed,seq,#Locus,MIRNA,DicerCall
0,UUGUACCAACUGUAAACUCGU,2533.093634,11.194181,0.811249,13.798700,2.594910e-43,3.138284e-38,2.165950,1.422006,5540.768053,4588.018528,UUGUACCAACUGUAAACUCGU,NaN,NaN,NaN
1,AGAUUCUGUUGAACUCGUUCUC,1837.516100,10.742077,0.796753,13.482320,1.987567e-41,1.201882e-36,1.082975,2.844011,3698.211073,3647.926343,AGAUUCUGUUGAACUCGUUCUC,NaN,NaN,NaN
2,AAUGAACAUCACAAACAGCCU,1082.287516,9.626418,0.738611,13.033145,7.927133e-39,3.195692e-34,3.248925,1.422006,2376.091998,1948.387137,AAUGAACAUCACAAACAGCCU,NaN,NaN,NaN

In [3]:
df_blast = pd.read_csv(blast_out,sep="\t", header=None)
df_blast.columns = ['qseqid','sseqid','qstart','qend','sstart','send','score','length','mismatch','gaps','gapopen','nident','pident','qlen','slen','qcovs']
print('initial:',len(df_blast.index))

initial: 57302

In [4]:
df_blast = df_blast[df_blast.length >= df_blast.qlen - 4]
df_blast = df_blast[df_blast.mismatch <= 2]
print('len -4:',len(df_blast.index))

len -4: 1565

In [5]:
df_res = pd.merge(df_deg, df_blast[['qseqid','sseqid']], left_on='Gene', right_on='qseqid', how='left')
df_res = df_res.drop(['qseqid'], axis=1)
df_res.rename(columns={'sseqid': 'miRBASE'}, inplace=True)
df_res = df_res.replace(np.nan, '', regex=True)
print(len(df_res.index))
df_res.head(12)

16455

,Gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,X21dpiR1C.trimmed,X21dpiR3C.trimmed,X21dpiR1T.trimmed,X21dpiR3T.trimmed,seq,#Locus,MIRNA,DicerCall,miRBASE
0,UUGUACCAACUGUAAACUCGU,2533.093634,11.194181,0.811249,13.798700,2.594910e-43,3.138284e-38,2.165950,1.422006,5540.768053,4588.018528,UUGUACCAACUGUAAACUCGU,,,,
1,AGAUUCUGUUGAACUCGUUCUC,1837.516100,10.742077,0.796753,13.482320,1.987567e-41,1.201882e-36,1.082975,2.844011,3698.211073,3647.926343,AGAUUCUGUUGAACUCGUUCUC,,,,
2,AAUGAACAUCACAAACAGCCU,1082.287516,9.626418,0.738611,13.033145,7.927133e-39,3.195692e-34,3.248925,1.422006,2376.091998,1948.387137,AAUGAACAUCACAAACAGCCU,,,,
3,AACCCGUGGACAAUACUCCCU,2420.352064,11.621420,0.924224,12.574243,2.925903e-36,8.846469e-32,2.165950,0.000000,4799.057873,4880.184433,AACCCGUGGACAAUACUCCCU,,,,
4,CAUUGUUCAAAGGCC,932.491103,9.767691,0.822280,11.878784,1.525700e-32,3.690363e-28,1.082975,2.844011,2065.207898,1660.829527,CAUUGUUCAAAGGCC,,,,
5,GUUGAUUUCACUGUAGGCUAG,2109.265328,11.390165,0.966850,11.780699,4.908458e-32,9.893816e-28,1.082975,1.422006,3389.394938,5045.161395,GUUGAUUUCACUGUAGGCUAG,,,,
6,GGUGGCUGUAGUUUAGUGGUGAGAAUUCCACGUUGUC,264.370279,5.444196,0.464408,11.722869,9.731902e-32,1.681395e-27,12.995700,9.954040,589.370078,445.161300,GGUGGCUGUAGUUUAGUGGUGAGAAUUCCACGUUGUC,,,,
7,UUUCUGGUUGACAUAAGUGAC,1314.590300,10.740928,0.951670,11.286396,1.531898e-29,2.058530e-25,1.082975,1.422006,2278.897634,2976.958587,UUUCUGGUUGACAUAAGUGAC,,,,
8,UAACCCGUGGACAAUACUCCCU,1113.560401,10.528688,0.932661,11.288872,1.489362e-29,2.058530e-25,2.165950,0.000000,2229.955791,2222.119862,UAACCCGUGGACAAUACUCCCU,,,,
9,GAGAAUUGAGAUUUUGGGCCU,1060.422787,10.455004,0.930855,11.231614,2.852202e-29,3.226526e-25,1.082975,1.422006,2142.411932,2096.774237,GAGAAUUGAGAUUUUGGGCCU,,,,
10,GUGCCGCGAAUCAGAAGACUC,1155.607150,10.568082,0.941134,11.229096,2.934661e-29,3.226526e-25,1.082975,1.422006,2109.324489,2510.599130,GUGCCGCGAAUCAGAAGACUC,,,,
11,CGUGAUGGGGAUAGAUC,383.666719,3.939069,0.353635,11.138786,8.121926e-29,8.185548e-25,48.733875,44.082176,608.671086,833.179741,CGUGAUGGGGAUAGAUC,,,,

In [6]:
df_res.to_csv(data_dir + '/res/' + lb + '/sRNA_DEG_mirbase.csv', sep='\t', index=None)

In [7]:
rules = {'seq':'first','log2FoldChange':'first','miRBASE':','.join,'MIRNA':'first'}
df_res_ = df_res.groupby('Gene',as_index=False).agg(rules)

In [8]:
df_res_.tail()

,Gene,seq,log2FoldChange,miRBASE,MIRNA
15182,UUUUUUGAGUCCGAGAUACUGUUACCCGCCUUGA,UUUUUUGAGUCCGAGAUACUGUUACCCGCCUUGA,8.322724,,
15183,UUUUUUGAUUGGAAUGCUGCC,UUUUUUGAUUGGAAUGCUGCC,9.733295,,
15184,UUUUUUGAUUGGAAUGCUGCCU,UUUUUUGAUUGGAAUGCUGCCU,6.359340,,
15185,UUUUUUGGAAUCGAUAUCGACC,UUUUUUGGAAUCGAUAUCGACC,6.434340,,
15186,UUUUUUUCGACCUGUC,UUUUUUUCGACCUGUC,8.754371,,

In [10]:
df_res_.to_csv(data_dir + '/res/' + lb + '/sRNA_DEG_mirbase.formatted.csv', sep='\t', index=None)

In [11]:
len(df_res_[~df_res_.Gene.str.contains('Cluster') & (df_res_.miRBASE != "")].index)

189

In [12]:
len(df_res_[~df_res_.Gene.str.contains('Cluster')].index)

14471

In [13]:
len(df_res_[(df_res_.MIRNA == 'Y') & (df_res_.miRBASE != "")].index)

10

In [14]:
df_res_[(df_res_.MIRNA == 'Y')]

,Gene,seq,log2FoldChange,miRBASE,MIRNA
7336,Cluster_16054,UACUGUGGGCACUUAUUUGACA,-0.715709,tae-miR9669-5p,Y
7346,Cluster_16796,AUGCCGUGUUGUUCUGAAAGAA,-0.942752,,Y
7368,Cluster_17194,UAGCCAAGAAUGACUUGCCU,-1.343073,"bdi-miR169d,zma-miR169o-5p,sbi-miR169i,osa-miR...",Y
7391,Cluster_18555,GGUGGGUCUUCUUGGCUAGC,-1.400455,zma-miR169o-3p,Y
7568,Cluster_27225,UGGGCAAGUCAUCCUGGCUACC,-1.047406,"ata-miR169b-3p,ata-miR169a-3p,ata-miR169j-3p,l...",Y
7597,Cluster_28963,UCGCUUGGUGCAGAUCGGGAC,-0.659671,"ata-miR168-5p,ssp-miR168a,bdi-miR168-5p,hvu-mi...",Y
7650,Cluster_32170,UGUAGAUACUCCCUAAGGCUU,-1.198635,"ata-miR5200-3p,tae-miR5200,bdi-miR5200b-3p,bdi...",Y
7688,Cluster_33754,UGUAGAUACUCCCUAAGGCUU,-1.092349,"ata-miR5200-3p,tae-miR5200,bdi-miR5200b-3p,bdi...",Y
7748,Cluster_35737,UGUAGAUACUCCCUAAGGCUU,-1.029754,"ata-miR5200-3p,tae-miR5200,bdi-miR5200b-3p,bdi...",Y
7859,Cluster_6291,UGCCAAAGGAGAGUUGCCCUG,-1.578261,"aof-miR399a,pab-miR399d,fve-miR399a,mes-miR399...",Y
7934,Cluster_9839,AGGCGGUUACCUUGGCUAGC,-1.796546,"ata-miR169c-3p,sbi-miR169d-3p,bdi-miR169h-3p",Y

In [19]:
df_res_[(df_res_.MIRNA == 'Y') ].to_csv('data/res/iwgsc_4_2_19/mirbase.Y.deg.csv', index=None)

In [22]:
df_res_[(df_res_.miRBASE != "") & (df_res_.MIRNA == '') ].to_csv('data/res/iwgsc_4_2_19/mirbase.noncluster.deg.csv', index=None)

In [24]:
d = df_res_[(df_res_.miRBASE != "") & (df_res_.MIRNA == '') ]

In [27]:
len(d[d.log2FoldChange > 0].index), len(d[d.log2FoldChange < 0].index)

(179, 10)

In [19]:
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord
from Bio.Seq import Seq
file_deg_mirna_fasta = '/home/juan/Desktop/juan/bio/mrcv/data/res/mirna_deg_fasta.fa'

In [20]:
buffer_seqs = []
for k,v in df_deg.iterrows():
    seq = SeqRecord(Seq(v.seq), id=v.Gene, description=str(v.log2FoldChange))
    buffer_seqs.append(seq)

In [21]:
SeqIO.write(buffer_seqs, file_deg_mirna_fasta, "fasta")

15187