In [1]:
import pandas as pd
data_dir = 'data'
lb = '21dpi_iwgsc_bowtie_m_all_2'
output_fasta = data_dir + '/res/' + lb + '/degs.fasta'

In [2]:
#sRNA and genes

In [3]:
#sRNA and mites
!blastn -task blastn -query data/res/21dpi_iwgsc_bowtie_m_all_2/degs.fasta  -subject data/libs/families_nr.fasta -outfmt "6 qseqid sseqid qstart qend sstart send score length mismatch gaps gapopen nident pident qlen slen qcovs" > data/res/21dpi_iwgsc_bowtie_m_all_2/srna_mites.fasta

In [5]:
df_mites = pd.read_csv('data/res/21dpi_iwgsc_bowtie_m_all_2/srna_mites.fasta',sep="\t", header=None)
df_mites.columns = ['qseqid','sseqid','qstart','qend','sstart','send','score','length','mismatch','gaps','gapopen','nident','pident','qlen','slen','qcovs']
print('initial:',len(df_mites.index))

('initial:', 412)

In [8]:
df_mites[df_mites.length > 16]

,qseqid,sseqid,qstart,qend,sstart,send,score,length,mismatch,gaps,gapopen,nident,pident,qlen,slen,qcovs
31,Cluster_10586,MITE_T_1777|chr7A|120739524|120739958|TCA|18|F128,1,23,182,205,28,24,2,1,1,21,87.500,24,434,96
112,Cluster_13128,MITE_T_1777|chr7A|120739524|120739958|TCA|18|F128,3,21,187,205,28,19,2,0,0,17,89.474,24,434,79
278,Cluster_32353,MITE_T_6420|chr5D|416216765|416217144|GAGC|391...,1,21,330,348,24,21,1,2,1,18,85.714,21,379,100
331,Cluster_33177,MITE_T_99852|chr7A|478009571|478009680|TA|113|...,1,19,18,37,26,20,1,1,1,18,90.000,24,109,79
363,Cluster_43913,MITE_T_81773|chr3B|237321438|237322230|TTA|15|...,1,24,123,146,38,24,2,0,0,22,91.667,24,792,100