In [63]:
import pandas as pd

In [64]:
path_merged = '../../data/res/04_02_19/targets_go.csv'
path_res = '../../data/res/04_02_19/targets_go_mirbase.csv'
path_mirbase_blast = "../../data/res/04_02_19/DEG_miRNA_mirBASE.csv"

In [65]:
df_mirbase = pd.read_csv(path_mirbase_blast, sep="\t")
cols = ['qseqid','sseqid','qstart','qend','sstart','send','mismatch','gaps','pident','evalue','length','qlen','slen','qcovs']
df_mirbase.columns = cols
print(len(df_mirbase.index))
df_mirbase.head(2)

487

,qseqid,sseqid,qstart,qend,sstart,send,mismatch,gaps,pident,evalue,length,qlen,slen,qcovs
0,Cluster_6291,pab-miR399d,1,21,1,21,0,0,100.0,0.000004,21,21,21,100
1,Cluster_6291,fve-miR399a,1,21,1,21,0,0,100.0,0.000004,21,21,21,100

In [66]:
df_mirbase = df_mirbase[df_mirbase.length > df_mirbase.qlen - 2]
print(len(df_mirbase.index))

326

In [67]:
df_mirbase = df_mirbase[df_mirbase.mismatch + df_mirbase.gaps <= 2]
print(len(df_mirbase.index))

323

In [68]:
len(df_mirbase.qseqid.unique().tolist())

10

In [69]:
df_mirbase = df_mirbase[['qseqid','sseqid']]

In [70]:

df_mirbase_s = df_mirbase.groupby('qseqid')['sseqid'].apply(lambda x: "%s" % ', '.join(x))

In [71]:

df_mirbase_g = pd.DataFrame({'miRNA_name':df_mirbase_s.index, 'mirbase':df_mirbase_s.values})

In [74]:
df_go = pd.read_csv(path_merged, sep=',')
df_go.head(2)

,miRNA_name,miRNA_l2fc,target,gene,gene_l2fc,Expectation,miRNA_aligned_fragment,Target_aligned_fragment,Inhibition,description
0,Cluster_30749,0.604528,TraesCS5B02G062100.1,TraesCS5B02G062100,1.378806,2.5,GCGGCUCUGUGGUGUUCAAGC,UGGUGACCACCACGGAGCCGC,Cleavage,"Kinase interacting (KIP1-like) family protein,..."
1,Cluster_9839,-1.373090,TraesCS2B02G490400.1,TraesCS2B02G490400,1.957450,2.5,AGGCGGUUACCUUGGCUAGC,GCUGGCCAAGGUGGCCGCCG,Cleavage,Pectinesterase inhibitor domain containing pro...

In [75]:
df_res = pd.merge(df_go, df_mirbase_g, on='miRNA_name', how='left')

In [76]:
df_res.to_csv(path_res, index=None, sep="\t")
path_res

'../../data/res/04_02_19/targets_go_mirbase.csv'