In [2]:
import pandas as pd

In [3]:
path_map = "../../data/compare/map_tgac.csv"
path_map_clean = "../../data/compare/map_tgac_clean.csv"

In [7]:
df_map = pd.read_csv(path_map)
print(len(df_map.index))

8931

In [5]:
df_map['Matched ID(s)'] = df_map['Matched ID(s)'].str.replace('A01','A02')
df_map['Matched ID(s)'] = df_map['Matched ID(s)'].str.replace('B01','B02')
df_map['Matched ID(s)'] = df_map['Matched ID(s)'].str.replace('D01','D02')

In [14]:
df_map.head(4)

                             Requested ID       Matched ID(s)
0  TRIAE_CS42_5AS_TGACv1_392611_AA1262120  TraesCS2D01G246000
1  TRIAE_CS42_5AS_TGACv1_392611_AA1262120  TraesCS2A01G245900
2  TRIAE_CS42_2DL_TGACv1_158849_AA0527030  TraesCS2D01G555200
3  TRIAE_CS42_2DL_TGACv1_158849_AA0527030  TraesCS2A01G553600

In [13]:
rows = []
for k,v in df_map.iterrows():
    s_1 = v['Requested ID'][11:13]
    s_2 = v['Matched ID(s)'][7:9]
    print(s_1, s_2)
    break

5A 2D

In [ ]:
df_compare.to_csv(path_map_clean, sep='\t', index=None)
path_map_clean