In [21]:
import pandas as pd
from subprocess import Popen, PIPE, call
lb = 'iwgsc_10_12_18'
path_target_finder = '/home/juan/Desktop/juan/bio/mrcv/sw/TargetFinder/targetfinder.pl'
target_seqs = 'data/res/DEG_SEQS.fasta'

In [22]:
df = pd.read_csv('data/res/iwgsc_4_2_19/sRNA_DEG_mirbase.formatted.csv', sep='\t')
df.head()

,Gene,seq,log2FoldChange,miRBASE,MIRNA
0,AAAAACGACGUAACAAAUGUAACACUUGGUC,AAAAACGACGUAACAAAUGUAACACUUGGUC,6.424695,NaN,NaN
1,AAAAAGAUUUACUUAAACGCCU,AAAAAGAUUUACUUAAACGCCU,9.809143,NaN,NaN
2,AAAAAGCUCGUAGUUGGACCUUGG,AAAAAGCUCGUAGUUGGACCUUGG,0.685402,NaN,NaN
3,AAAAAGCUCGUAGUUGGACCUUGGGCCG,AAAAAGCUCGUAGUUGGACCUUGGGCCG,1.084518,NaN,NaN
4,AAAAAGUAUACAAUUGAGCGU,AAAAAGUAUACAAUUGAGCGU,5.297593,NaN,NaN

In [23]:
len(df.index)

15187

In [ ]:
#search targets
out_file = open("data/res/iwgsc_4_2_19/targets_cdna.csv","w")
print(len(df.index))
out_total = ''
for k,v in df.iterrows():
    if 'N' in v.seq:
        continue
    cmd_list = ['perl', path_target_finder,'-r','-t','8','-s',v.seq,'-q',v.Gene,'-d',target_seqs,'-p','table']
#    print(' '.join(cmd_list))
    pro = Popen(cmd_list, stdout=PIPE, stderr=PIPE)
    out,err = pro.communicate()
#    out = str(out)
#    err = str(err)
#    print(out,err)
    if b"No results for" in out:
        print(k,)
        continue
    print(k,'-')
#    out_total += out.decode("utf-8") 
    out_file.write(out.decode("utf-8") )
out_file.close()
#os.system('grep -v "No results for" targets.csv > targets.clean.csv')

In [25]:
df_t = pd.read_csv('data/res/iwgsc_4_2_19/targets_cdna.csv', sep='\t', header=None)
df_t.columns = ['query_seq','target','start','end','strand','score','t_align','align','q_align']

In [26]:
df.head(2)

,Gene,seq,log2FoldChange,miRBASE,MIRNA
0,AAAAACGACGUAACAAAUGUAACACUUGGUC,AAAAACGACGUAACAAAUGUAACACUUGGUC,6.424695,NaN,NaN
1,AAAAAGAUUUACUUAAACGCCU,AAAAAGAUUUACUUAAACGCCU,9.809143,NaN,NaN

In [27]:
len(df_t.index)

154914

In [28]:
len(df_t.query_seq.unique())

6742

In [29]:
len(df_t.target.unique())

3019

In [30]:
df_t.to_csv('data/res/iwgsc_4_2_19/targets_cdna.csv', sep='\t', header=None, index=None)