In [1]:
import pandas as pd
df = pd.read_csv('data/tes/mites.genes.csv',sep="\t", header=None)
df.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
df_genome = pd.read_csv('data/wheat.gff3',sep="\t", header=None)
df_genome.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
padding = 20

In [2]:
g_ends = {}
for k,v in df_genome.iterrows():
    g_ends[v.seqname] = v.end

In [3]:
df.head()

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1A,MITE_tracker,TE,305432,305913,.,+,.,MITE_T_126801|chr7B|78567635|78568204|CTTCCCT|...
1,1A,MITE_tracker,TE,1161221,1161333,.,+,.,MITE_T_96201|chr1B|604318810|604318923|TA|118|...
2,1A,MITE_tracker,TE,1163540,1163669,.,+,.,MITE_T_81671|chr7A|709387058|709387195|TA|143|...
3,1A,MITE_tracker,TE,2161882,2162018,.,+,.,MITE_T_80633|chr2A|74829051|74829194|TCT|147|F...
4,1A,MITE_tracker,TE,2665266,2665568,.,+,.,MITE_T_10716|chr7D|582600067|582600413|ATAT|12...

In [4]:

f = open("data/tes/mites.locifile","w+")
for k,v in df.iterrows():
    name = v.attribute.split('|')[0]
    if v.start - padding > 0:
        start = v.start - padding
    else:
        start = 0
    if v.end + padding < g_ends[v.seqname]:
        end = v.end + padding
    else:
        end = g_ends[v.seqname]
    pos = '%s:%i-%i\t%s\n' % (v.seqname, start, end, name)
    f.write(pos)
f.close()