In [1]:
import pandas as pd
import numpy as np

In [27]:
file_srna_dat = '../../data/ss/all_21/counts.21.dat.0.05.csv'
file_srna_dat = '../../data/ss/all_24/counts.24.dat.0.05.csv'
file_ann = '../../data/genome/annotations/genes.gff3'
file_deg = '../../data/res/04_02_19/DEG-normalized.csv'
file_output = '../../data/res/DEGX_sRNA_DAT.csv'

In [28]:
#load sRNA loci DATs

In [29]:
df_srna_dat = pd.read_csv(file_srna_dat, index_col=False, sep=',', comment='#')
print(len(df_srna_dat.index))

559

In [30]:
df_srna_dat.sample(3)

,Gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,X21dpiR1C.trimmed,X21dpiR3C.trimmed,X21dpiR1T.trimmed,X21dpiR3T.trimmed
128,Cluster_150 _ 1A:179537-179669,99.150516,1.478639,0.352556,4.194057,0.000027,0.002106,60,44.739258,154.317854,137.544951
231,Cluster_197092 _ Un:274341718-274342162,93.490360,1.363133,0.363431,3.750734,0.000176,0.007535,63,41.617915,137.171426,132.172102
533,Cluster_129867 _ 5D:18891415-18891853,63.928654,1.295715,0.426135,3.040621,0.002361,0.043888,46,28.092092,105.328059,76.294465

In [31]:
df_srna_dat['loci'] = df_srna_dat['Gene'].str.split(' _ ').str[0]
df_srna_dat['seqname'] = df_srna_dat['Gene'].str.split(' _ ').str[1]
df_srna_dat['start'] = df_srna_dat['seqname'].str.split('-').str[0]
df_srna_dat['end'] = df_srna_dat['seqname'].str.split('-').str[1]
df_srna_dat['seqname'] = df_srna_dat['start'].str.split(':').str[0]
df_srna_dat['start'] = df_srna_dat['start'].str.split(':').str[1]

In [32]:
df_srna_dat.sample(3)

,Gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,X21dpiR1C.trimmed,X21dpiR3C.trimmed,X21dpiR1T.trimmed,X21dpiR3T.trimmed,loci,seqname,start,end
34,Cluster_198159 _ Un:464266077-464266322,238.788207,1.385550,0.281060,4.929739,8.233938e-07,0.000238,152,112.368369,360.891489,329.892969,Cluster_198159,Un,464266077,464266322
259,Cluster_131214 _ 5D:87535037-87535829,794.868321,0.897237,0.246843,3.634844,2.781492e-04,0.010607,621,490.050943,1173.305587,895.116753,Cluster_131214,5D,87535037,87535829
255,Cluster_113625 _ 5A:473315741-473316910,829.102718,0.847991,0.232355,3.649542,2.627083e-04,0.010175,565,619.066478,943.870048,1188.474345,Cluster_113625,5A,473315741,473316910

In [33]:
df_srna_dat = df_srna_dat[['loci','seqname','start','end','pvalue','padj','log2FoldChange']]
df_srna_dat.head(4)

,loci,seqname,start,end,pvalue,padj,log2FoldChange
0,Cluster_151,1A,179839,180318,3.861921e-10,0.000002,1.952684
1,Cluster_85331,4A,17099978,17100629,5.381033e-10,0.000002,1.615417
2,Cluster_185336,7D,73982491,73982773,2.818768e-10,0.000002,1.766788
3,Cluster_269,1A,357450,358514,2.811058e-08,0.000056,1.327617

In [34]:
#genes DEG

In [35]:
df_deg = pd.read_csv(file_deg, index_col=False, sep=',', comment='#')
print(len(df_deg.index))
df_deg['gene'] = df_deg['gene'].str.split('gene:').str[1]
df_deg.drop("Unnamed: 0", axis=1, inplace=True)

3019

In [36]:
df_ann = pd.read_csv(file_ann, index_col=False, sep='\t', comment='#', header=None)
df_ann.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
df_ann['gene'] = df_ann.attribute.str.split('gene:').str[1]
df_ann['gene'] = df_ann.gene.str.split(';').str[0]
df_ann = df_ann[['gene','seqname','start','end', 'strand']]
print(len(df_ann.index))

120744

In [37]:
df_deg_pos = pd.merge(df_deg, df_ann, on='gene')
df_deg_pos = df_deg_pos[['gene','log2FoldChange','pvalue','padj','seqname','start','end','strand']]

In [38]:
df_deg_pos.head(3)

,gene,log2FoldChange,pvalue,padj,seqname,start,end,strand
0,TraesCS2B02G286300,-2.445058,1.703566e-27,5.369742e-23,2B,394317533,394318758,+
1,TraesCS2B02G336800,2.909847,1.882766e-27,5.369742e-23,2B,481048634,481054363,+
2,TraesCS6D02G241200,-2.320181,2.645301e-25,5.029687e-21,6D,343557954,343558810,-

In [39]:
#GENEs

In [40]:
#merge with genes

In [41]:
df_deg_pos['cluster_name'] = ''
df_deg_pos['cluster_seqname'] = ''
df_deg_pos['cluster_start'] = ''
df_deg_pos['cluster_end'] = ''
df_deg_pos['cluster_position'] = ''
df_deg_pos['cluster_padj'] = ''
df_deg_pos['cluster_pvalue'] = ''
df_deg_pos['cluster_log2FoldChange'] = ''

In [42]:
howfar = 5000
rows = []
for k_gene, v_gene in df_deg_pos.iterrows():
    for k_srna,v_srna in df_srna_dat[df_srna_dat.seqname == v_gene.seqname].iterrows():
        #overlaps with gene
        if int(v_srna.end) >= int(v_gene.start) and int(v_srna.start) <= int(v_gene.end):
            df_deg_pos.at[k_gene, 'cluster_name'] = v_srna.loci
            df_deg_pos.at[k_gene, 'cluster_seqname'] = v_srna.seqname
            df_deg_pos.at[k_gene, 'cluster_start'] = v_srna.start
            df_deg_pos.at[k_gene, 'cluster_end'] = v_srna.end
            df_deg_pos['cluster_padj'] = v_srna.padj
            df_deg_pos['cluster_pvalue'] = v_srna.pvalue
            df_deg_pos['cluster_log2FoldChange'] = v_srna.log2FoldChange
            df_deg_pos.at[k_gene, 'cluster_position'] = 'overlaps'
            rows.append(df_deg_pos.iloc[k_gene])
        else:
            #upstream (promoter)
            if v_gene.strand == '+':
                start = max(int(v_gene.start) - howfar, 0)
                end = int(v_gene.start)
            else:
                start = int(v_gene.end)
                end = int(v_gene.end) + howfar
            if int(v_srna.end) >= start and int(v_srna.start) <= end:
                df_deg_pos.at[k_gene, 'cluster_name'] = v_srna.loci
                df_deg_pos.at[k_gene, 'cluster_seqname'] = v_srna.seqname
                df_deg_pos.at[k_gene, 'cluster_start'] = v_srna.start
                df_deg_pos.at[k_gene, 'cluster_end'] = v_srna.end
                df_deg_pos.at[k_gene, 'cluster_position'] = 'promoter'
                df_deg_pos['cluster_padj'] = v_srna.padj
                df_deg_pos['cluster_pvalue'] = v_srna.pvalue
                df_deg_pos['cluster_log2FoldChange'] = v_srna.log2FoldChange
                rows.append(df_deg_pos.iloc[k_gene])
            else:
                #downstream
                if v_gene.strand == '+':
                    end = int(v_gene.end) + howfar
                    start = int(v_gene.end)
                else:
                    end = int(v_gene.start)
                    start = max(int(v_gene.start) - howfar,0)
                if int(v_srna.end) >= start and int(v_srna.start) <= end:
                    df_deg_pos.at[k_gene, 'cluster_name'] = v_srna.loci
                    df_deg_pos.at[k_gene, 'cluster_seqname'] = v_srna.seqname
                    df_deg_pos.at[k_gene, 'cluster_start'] = v_srna.start
                    df_deg_pos.at[k_gene, 'cluster_end'] = v_srna.end
                    df_deg_pos.at[k_gene, 'cluster_position'] = 'downstream'
                    df_deg_pos['cluster_padj'] = v_srna.padj
                    df_deg_pos['cluster_pvalue'] = v_srna.pvalue
                    df_deg_pos['cluster_log2FoldChange'] = v_srna.log2FoldChange
                    rows.append(df_deg_pos.iloc[k_gene])

In [43]:
df_res = pd.DataFrame(rows)

In [44]:
df_res

,gene,log2FoldChange,pvalue,padj,seqname,start,end,strand,cluster_name,cluster_seqname,cluster_start,cluster_end,cluster_position,cluster_padj,cluster_pvalue,cluster_log2FoldChange
64,TraesCS1A02G343700,-1.451898,1.224791e-12,1.074820e-09,1A,532089135,532090633,+,Cluster_6273,1A,532087554,532087821,promoter,0.006770,0.000149,0.869135
1017,TraesCS7D02G100000,2.221068,1.061880e-04,5.949969e-03,7D,60019916,60023243,-,Cluster_184960,7D,60017051,60017196,downstream,0.033080,0.001561,1.375026
2992,TraesCS4A02G323700,0.540680,2.577402e-03,4.910407e-02,4A,611579524,611583216,+,Cluster_90774,4A,611586010,611586421,downstream,0.002527,0.000037,1.502569

In [45]:
len(df_res[df_res.cluster_name != ''].index)

3

In [46]:
df_res.to_csv(file_output, index=None, )
file_output

'../../data/res/DEGX_sRNA_DAT.csv'