In [18]:
import pandas as pd

In [31]:
path_ann = '/home/juan/Desktop/juan/bio/mrcv/data/genome/annotations/TEs_vMITEs.gff3'
path_locifile = '/home/juan/Desktop/juan/bio/mrcv/data/genome/locifiles/TEs_vMITEs.locifile.csv'

In [32]:
df = pd.read_csv(path_ann, sep='\t')
df.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']

print(len(df.index))
df.head(5)

541964

/home/juan/Desktop/juan/bio/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1A,TE,TE,535802,540793,.,+,.,RLX_Hvul_Gujog_AY494981-1
1,1A,TE,TE,574581,581418,.,+,.,RLG_Null_WHAM_consensus-1
2,1A,TE,TE,598601,600316,.,+,.,ANGELA1_TM_LTR
3,1A,TE,TE,638819,646452,.,+,.,RLC_Null_WIS_B_consensus-1
4,1A,TE,TE,639071,645762,.,+,.,RLC_Null_BARE1_C_consensus-1

In [33]:
df['locifile_position'] = df.seqname + ':' + df.start.astype(str) + '-' + df.end.astype(str)

In [34]:
df.head(3)

,seqname,source,feature,start,end,score,strand,frame,attribute,locifile_position
0,1A,TE,TE,535802,540793,.,+,.,RLX_Hvul_Gujog_AY494981-1,1A:535802-540793
1,1A,TE,TE,574581,581418,.,+,.,RLG_Null_WHAM_consensus-1,1A:574581-581418
2,1A,TE,TE,598601,600316,.,+,.,ANGELA1_TM_LTR,1A:598601-600316

In [35]:
df = df[['locifile_position','attribute']]

In [36]:
df.to_csv(path_locifile, header=None, index=None,sep='\t')