In [19]:
import pandas as pd
path_gff_genes = "/home/juan/Desktop/juan/bio/data/IWGSC/42/Triticum_aestivum.IWGSC.42.gff3"
path_gff_genes_out = "../../../data/genome/genes.gff3"
path_gff_genome = "../../../data/genome/wheat.gff3"
path_gff_promoters = "../../../data/genome/promoters.gff3"
span = 2000

In [20]:
df_genome = pd.read_csv(path_gff_genome,sep="\t", header=None)
df_genome.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
g_ends = {}
for k,v in df_genome.iterrows():
    g_ends[v.seqname] = v.end

In [21]:
df_genome

   seqname source      feature  start        end score  strand frame attribute
0       1A      .   chromosome      0  594102056     .       0     .         .
1       1B      .   chromosome      0  689851870     .       0     .         .
2       1D      .   chromosome      0  495453186     .       0     .         .
3       2A      .   chromosome      0  780798557     .       0     .         .
4       2B      .   chromosome      0  801256715     .       0     .         .
5       2D      .   chromosome      0  651852609     .       0     .         .
6       3A      .   chromosome      0  750843639     .       0     .         .
7       3B      .   chromosome      0  830829764     .       0     .         .
8       3D      .   chromosome      0  615552423     .       0     .         .
9       4A      .   chromosome      0  744588157     .       0     .         .
10      4B      .   chromosome      0  673617499     .       0     .         .
11      4D      .   chromosome      0  509857067     .       0     .         .
12      5A      .   chromosome      0  709773743     .       0     .         .
13      5B      .   chromosome      0  713149757     .       0     .         .
14      5D      .   chromosome      0  566080677     .       0     .         .
15      6A      .   chromosome      0  618079260     .       0     .         .
16      6B      .   chromosome      0  720988478     .       0     .         .
17      6D      .   chromosome      0  473592718     .       0     .         .
18      7A      .   chromosome      0  736706236     .       0     .         .
19      7B      .   chromosome      0  750620385     .       0     .         .
20      7D      .   chromosome      0  638686055     .       0     .         .
21      Un      .   chromosome      0  480980714     .       0     .         .

In [22]:
df_gff = pd.read_csv(path_gff_genes, index_col=False, sep='\t', header=None, comment='#')
df_gff.columns = ['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'attribute']
print(len(df_gff.index))

1957744

In [23]:
df_gff = df_gff[(df_gff.feature == 'gene') | (df_gff.feature == 'ncRNA_gene')]
print(len(df_gff.index))

120744

In [24]:
df_gff.to_csv(path_gff_genes_out, sep='\t', index=None, header=None)

In [25]:
df_gff.head(2)

,seqname,source,feature,start,end,score,strand,frame,attribute
1,1A,Ensembl_Plants,ncRNA_gene,200,1683,.,+,.,ID=gene:ENSRNA050013875;Name=LSU_rRNA_eukarya;...
4,1A,Ensembl_Plants,ncRNA_gene,5023,6833,.,+,.,ID=gene:ENSRNA050013847;Name=SSU_rRNA_eukarya;...

In [26]:
rows = []
for k,v in df_gff.iterrows():
    if v.strand == "+":
        v.end = v.start
        v.start = max(0, v.start - span)
    else:
        v.start = v.end
        v.end = min(g_ends[v.seqname], v.end + span)
    v.feature = "promoter"
    rows.append(v)

In [27]:
df_res = pd.DataFrame(rows)
print(len(df_res.index))

120744

In [28]:
df_res.to_csv(path_gff_promoters, sep="\t", index=None, header=None)