In [22]:
import pandas as pd
data_dir = "../data/ss/04_02_19/"

In [ ]:
#!tr -s '\t' '\t' < counts.csv > counts.fixed.csv

In [24]:
path_counts = data_dir + "counts.fixed.csv"
df_counts = pd.read_csv(path_counts, sep="\t", comment='#')

In [25]:
df_counts.head(2)

,Locus,Name,main,21dpiR1C.trimmed,21dpiR3C.trimmed,21dpiR1T.trimmed,21dpiR3T.trimmed
0,1A:209-460,Cluster_1,124,18,22,47,37
1,1A:688-753,Cluster_2,86,30,10,28,18

In [26]:
print(len(df_counts.index))

38496

In [27]:
path_results = data_dir + "Results.txt"
df_res = pd.read_csv(path_results, sep="\t")
df_res.head(2)

,#Locus,Name,Length,Reads,RPM,UniqueReads,FracTop,Strand,MajorRNA,MajorRNAReads,...,DicerCall,MIRNA,PhaseScore,Short,Long,20,21,22,23,24
0,1A:209-460,Cluster_1,252,124,0.973,64,1.0,+,CGCGGAUUGCUCGAGCUGCUCACGCGGCGAGAGCGGGUCG,25,...,N,N2,-1.0,29,79,2,1,4,5,4
1,1A:688-753,Cluster_2,66,86,0.675,0,1.0,+,UAGACCGACUUUGUGAAAUG,5,...,N,N2,-1.0,8,56,7,1,3,6,5

In [28]:
print(len(df_res.index))

38496

In [29]:
df_res = df_res[df_res.MIRNA == "Y"]
print(len(df_res.index))

139

In [30]:
valids = df_res.Name.unique().tolist()
df_counts = df_counts[df_counts.Name.isin(valids)]

In [31]:
df_counts.to_csv(data_dir + 'counts.valid.csv', sep="\t", index=None)